body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

#contactForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactForm button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #218838;
}

#dataContainer {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#dataContainer div {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

#dataContainer div:last-child {
    border-bottom: none; /* Eliminar el borde del último mensaje */
}

h2 {
    margin-top: 20px;
}